global:
    scrape_interval: 15s
    scrape_timeout: 10s
    evaluation_interval: 15s

# Load alert rules
rule_files:
    - "alert_rules.yml"

# Alertmanager configuration
alerting:
    alertmanagers:
        - static_configs:
              - targets: ["alertmanager:9093"]

scrape_configs:
    - job_name: "prometheus"
      static_configs:
          - targets: ["192.168.1.11:9090"]
    
    - job_name: "loki"
      static_configs:
          - targets: ["192.168.1.11:3100"]
    
    - job_name: "yolo_backend"
      metrics_path: "/metrics"
      static_configs:
          - targets: ["192.168.1.11:8000"]
      scrape_interval: 10s
      scrape_timeout: 5s
